@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&family=Rubik+Wet+Paint&display=swap');
body {
    background-color: black;
}
.navbar {
    display: flex;
}
.logo img {
    width: 250px;
}
.logo img:hover {
    filter: drop-shadow(0px 0px 0px red);
}
li {
    list-style-type: none;
}
.nav-links {
    display: flex;
    gap: 45px;
}
a {
    font-size: 45px;
    text-decoration: none;
    color: #8a0406;
    position: relative;
    top: 70px;
    left: 50px;
    filter: drop-shadow(2px 2px 2px red);
    transition: .3s ease-in;
}
a:hover {
    filter: drop-shadow(4px 4px 4px red);
}
.img-1 {
    width: 550px;
    position: absolute;
    top: 255px;
    left: 1150px;
    filter: drop-shadow(1px 1px 2px red);
    transition: .3s ease-in;
}
.img-1:hover {
    filter: drop-shadow(2px 2px 10px red);
}
#t1 {
    font-size: 70px;
    color: red;
    font-family: "Rubik Maps", system-ui;
    letter-spacing: 2px;
    position: absolute;
    top: 380px;
    left: 190px;
    transition: .2s ease;
}
#t1:hover {
    text-shadow: 0px 0px 10px red;
}
#t2 {
    width: 800px;
    font-size: 30px;
    color: red;
    font-family: "Rubik Maps", system-ui;
    letter-spacing: 2px;
    position: absolute;
    top: 550px;
    left: 190px;
    transition: .2s ease;
}
#t2:hover {
    text-shadow: 0px 0px 10px red;
}
.btn1 {
    padding: 20px 70px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    font-family: "Rubik Maps", system-ui;
    color: white;
    letter-spacing: 1px;
    background-color: #8a0406;
    text-shadow: 0px 0px 5px white;
    position: absolute;
    top: 800px;
    left: 700px;
    transition: .3s ease-in-out;
}
.btn1:hover {
    transform: scale(1.1);
    background-color: red;
    filter: drop-shadow(2px 2px 10px red);
    text-shadow: 0px 0px 10px white;
}
.btn1:active {
    transform: scale(1.2);
}
.img-2 {
    width: 200px;
    transform: rotate(30deg);
    position: absolute;
    left: 1190px;
    top: 160px;
    z-index: -2;
}
.img-3 {
    width: 160px;
    position: absolute;
    left: 1120px;
    top: 860px;
    z-index: -2;
}
.img-4 {
    width: 180px;
    position: absolute;
    left: 1670px;
    top: 200px;
    z-index: -2;
}
.img-5 {
    width: 180px;
    position: absolute;
    left: 1680px;
    top: 860px;
    z-index: -2;
}
@media (max-width: 768px) {
 .logo img {
    width: 200px;
}   
.nav-links {
    display: flex;
    gap: 45px;
}
a {
    font-size: 30px;
    text-decoration: none;
    color: #8a0406;
    position: relative;
    top: 50px;
    left: 50px;
    filter: drop-shadow(2px 2px 2px red);
    transition: .3s ease-in;
}
.img-1 {
    width: 350px;
    position: absolute;
    top: 255px;
    left: 1150px;
    filter: drop-shadow(1px 1px 2px red);
    transition: .3s ease-in;
}
.fill-img {
    position: relative;
    left: -1000px;
    top: -200px;
}
.img-2 {
    width: 170px;
    transform: rotate(30deg);
    position: absolute;
    left: 1190px;
    top: 170px;
    z-index: -2;
}
.img-3 {
    width: 120px;
    position: absolute;
    left: 1100px;
    top: 660px;
    z-index: -2;
}
.img-4 {
    width: 130px;
    position: absolute;
    left: 1470px;
    top: 250px;
    z-index: -2;
}
.img-5 {
    width: 120px;
    position: absolute;
    left: 1480px;
    top: 670px;
    z-index: -2;
}
#t1 {
    font-size: 30px;
    color: red;
    font-family: "Rubik Maps", system-ui;
    letter-spacing: 2px;
    position: absolute;
    top: 780px;
    left: 190px;
    transition: .2s ease;
}
#t1:hover {
    text-shadow: 0px 0px 10px red;
}
#t2 {
    width: 500px;
    font-size: 20px;
    color: red;
    font-family: "Rubik Maps", system-ui;
    letter-spacing: 2px;
    position: absolute;
    top: 830px;
    left: 140px;
    transition: .2s ease;
}
.btn1 {
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    font-family: "Rubik Maps", system-ui;
    color: white;
    letter-spacing: 1px;
    background-color: #8a0406;
    text-shadow: 0px 0px 5px white;
    position: absolute;
    top: 1050px;
    left: 400px;
    transition: .3s ease-in-out;
}
}
@media (max-width: 425px) {
    body {
        height: 20vh;
    }
 .logo img {
    width: 200px;
}   
.nav-links {
    display: flex;
    gap: 40px;
}
a {
    font-size: 25px;
    text-decoration: none;
    color: #8a0406;
    position: relative;
    top: 50px;
    left: 50px;
    filter: drop-shadow(2px 2px 2px red);
    transition: .3s ease-in;
}
.img-1 {
    width: 350px;
    position: absolute;
    top: 255px;
    left: 1150px;
    filter: drop-shadow(1px 1px 2px red);
    transition: .3s ease-in;
}
.fill-img {
    position: relative;
    left: -1000px;
    top: -200px;
}
.img-2 {
    width: 170px;
    transform: rotate(30deg);
    position: absolute;
    left: 1190px;
    top: 170px;
    z-index: -2;
}
.img-3 {
    width: 120px;
    position: absolute;
    left: 1100px;
    top: 660px;
    z-index: -2;
}
.img-4 {
    width: 130px;
    position: absolute;
    left: 1470px;
    top: 250px;
    z-index: -2;
}
.img-5 {
    width: 120px;
    position: absolute;
    left: 1480px;
    top: 670px;
    z-index: -2;
}
#t1 {
    width: 399px;
    font-size: 30px;
    color: red;
    font-family: "Rubik Maps", system-ui;
    letter-spacing: 2px;
    position: absolute;
    top: 780px;
    left: 190px;
    transition: .2s ease;
}
#t1:hover {
    text-shadow: 0px 0px 10px red;
}
#t2 {
    width: 500px;
    font-size: 20px;
    color: red;
    font-family: "Rubik Maps", system-ui;
    letter-spacing: 2px;
    position: absolute;
    top: 830px;
    left: 140px;
    transition: .2s ease;
}
.btn1 {
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    font-family: "Rubik Maps", system-ui;
    color: white;
    letter-spacing: 1px;
    background-color: #8a0406;
    text-shadow: 0px 0px 5px white;
    position: absolute;
    top: 1050px;
    left: 400px;
    transition: .3s ease-in-out;
}
}